<header>
    <h2>{{title}}</h2>
    <a routerLink="/home">Home</a> | 
    <br/><br/>
    <a routerLink="/customer/registration">Register as Customer</a> | 
    
    <a routerLink="/customer/update/2">Update Customer(demo)</a> | 
    <a routerLink="/customer/customers-list">Customers List</a> | 
    <a routerLink="/customer/products-list">Products List</a> | 
    <a routerLink="/customer/products/29">Product By Id (demo)</a> | 
    <br/><br/>
    <a routerLink="/seller/registration">Register as Seller</a> | 
    
    <a routerLink="/seller/create-product">Create product</a> | 
    <a routerLink="/seller/seller-by-id/1">Seller By Id (demo)</a> | 
    <a routerLink="/seller/sellers-list">Sellers List</a> | 
</header>
